# Ex - GroupBy

### Introduction:

GroupBy can be summarizes as Split-Apply-Combine.

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

Check out this [Diagram](http://i.imgur.com/yjNkiwL.png)  
### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

In [2]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv"

### Step 3. Assign it to a variable called drinks.

In [3]:
drinks = pd.read_csv(url)
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

In [4]:
drinks.shape

(193, 6)

In [5]:
drinks.columns

Index(['country', 'beer_servings', 'spirit_servings', 'wine_servings',
       'total_litres_of_pure_alcohol', 'continent'],
      dtype='object')

In [6]:
drinks = drinks.dropna()

### Step 4. Which continent drinks more beer on average?

In [7]:
max_drink = drinks.groupby("continent")["beer_servings"].mean()
max_drink.sort_values(ascending=False)

continent
EU    193.777778
SA    175.083333
OC     89.687500
AF     61.471698
AS     37.045455
Name: beer_servings, dtype: float64

### Step 5. For each continent print the statistics for wine consumption.

In [8]:
description = drinks.groupby("continent").describe()
description.head()

          beer_servings                                                      \
                  count        mean        std   min     25%    50%     75%
continent
AF                 53.0   61.471698  80.557816   0.0   15.00   32.0   76.00
AS                 44.0   37.045455  49.469725   0.0    4.25   17.5   60.50
EU                 45.0  193.777778  99.631569   0.0  127.00  219.0  270.00
OC                 16.0   89.687500  96.641412   0.0   21.00   52.5  125.75
SA                 12.0  175.083333  65.242845  93.0  129.50  162.5  198.00

                 spirit_servings              ...    \
             max           count        mean  ...
continent                                     ...
AF         376.0            53.0   16.339623  ...
AS         247.0            44.0   60.840909  ...
EU         361.0            45.0  132.555556  ...
OC         306.0            16.0   58.437500  ...
SA         333.0            12.0  114.750000  ...

          total_litres_of_pure_alcohol       wine_servings              \
                                   75%   max         count        mean
continent
AF                               4.700   9.1          53.0   16.264151
AS                               2.425  11.5          44.0    9.068182
EU                              10.900  14.4          45.0  142.222222
OC                               6.150  10.4          16.0   35.625000
SA                               7.375   8.3          12.0   62.416667


                 std  min   25%    50%     75%    max
continent
AF         38.846419  0.0   1.0    2.0   13.00  233.0
AS         21.667034  0.0   0.0    1.0    8.00  123.0
EU         97.421738  0.0  59.0  128.0  195.00  370.0
OC         64.555790  0.0   1.0    8.5   23.25  212.0
SA         88.620189  1.0   3.0   12.0   98.50  221.0

[5 rows x 32 columns]

### Step 6. Print the mean alcoohol consumption per continent for every column

In [9]:
mean_alcohol = drinks.groupby("continent")["total_litres_of_pure_alcohol"].mean()
mean_alcohol

continent
AF    3.007547
AS    2.170455
EU    8.617778
OC    3.381250
SA    6.308333
Name: total_litres_of_pure_alcohol, dtype: float64

### Step 7. Print the median alcoohol consumption per continent for every column

In [10]:
median_alcohol = drinks.groupby("continent")["total_litres_of_pure_alcohol"].median()
median_alcohol

continent
AF     2.30
AS     1.20
EU    10.00
OC     1.75
SA     6.85
Name: total_litres_of_pure_alcohol, dtype: float64

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame

In [11]:
a = drinks["spirit_servings"].mean()
b = drinks["spirit_servings"].min()
c = drinks["spirit_servings"].max()

In [36]:
pd.DataFrame([a,b,c], ["mean","min","max"])

               0
mean   69.529412
min     0.000000
max   373.000000